.App {
  text-align: center;
  background: url("./background.png") no-repeat fixed center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}


@media (prefers-reduced-motion: no-preference) {
}
